	.custom-nav {
		background-color: #719E19;
	}
	
	.custom-nav a {
		color: white;
	}
	
	.custom-nav button {
		color: white;
	}
	
	.custom-nav h1 {
		color: white;
	}
	
	.register_btn {
		border: none;
		text-align: center;
		cursor: pointer;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		color: #fff;
		background-color: #719E19;
		display: block;
		left: 4%;
		width: 92%;
		padding: 15px 0;
		font-size: 18px
	}
	
	.logout-btn {
		width: 100%;
		height: 60px;
		background-color: red;
		width: 92%;
		color: white;
	}
	
	input[type=checkbox] {
		-webkit-appearance: none;
		appearance: none;
		width: 20px;
		margin-bottom: 5px;
		padding: 0px;
		vertical-align: middle;
		border: none;
		height: 20px;
		cursor: pointer;
		content: url(../img/uchecked.png);
	}
	
	input[type=checkbox]:checked {
		content: url(../img/checked.png);
	}
	
	.circular-mask {
		border-radius: 100%;
	}
	
	.middle-content {
		vertical-align: middle;
		text-align: center;
	}
	
	.dialog {
		width: 300px;
		height: 200px;
		position: absolute;
		z-index: 11;
		border-width: 1px;
		border-style: solid;
		border-color: #99CCCC;
		-webkit-box-shadow: 2px 2px 2px #292929;
		-moz-box-shadow: 2px 2px 2px #292929;
		box-shadow: 2px 2px 2px #292929;
		background: -ms-linear-gradient(top, #99CCCC, #99CCFF);
		/* IE 10 */
		background: -moz-linear-gradient(top, #99CCCC, #99CCFF);
		/*火狐*/
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CCCC), to(#99CCFF));
		/*谷歌*/
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CCCC), to(#99CCFF));
		/* Safari 4-5, Chrome 1-9*/
		background: -webkit-linear-gradient(top, #99CCCC, #99CCFF);
		/*Safari5.1 Chrome 10+*/
		background: -o-linear-gradient(top, #99CCCC, #99CCFF);
		/*Opera 11.10+*/
	}
	
	.dialog .title {
		height: 30px;
		width: auto;
		align-content: center;
		font-size: 10pt;
		font-weight: bold;
		padding: 4px 6px;
		cursor: move;
	}
	
	.dialog .content {
		position: relative;
		font-size: 10pt;
		border-width: 2px;
		border-style: solid;
		border-color: #b2b2b2;
		margin: auto;
		width: 288px;
		height: 165px;
		background-color: #ffffff;
		text-align: center;
		vertical-align: middle;
	}
	
	.dialog .content .txtInput {
		font-size: 15pt;
		margin-top: 20px;
		width: 230px;
		height: 40px;
	}
	
	.dialog .content .leftBtn {
		display: inline;
		width: auto;
		margin-bottom: 15px;
		position: absolute;
		bottom: 0;
		left: 30px;
	}
	
	.dialog .content .rightBtn {
		display: inline;
		width: auto;
		margin-bottom: 15px;
		position: absolute;
		bottom: 0;
		right: 30px;
	}
	
	.dialog-cover {
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	
	.autoSwitchLanguager {}
	
	.play-center {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		vertical-align: middle;
	}
	
	.play-center .cover {
		float: left;
		height: inherit;
		width: 20%;
	}
	
	.play-center .play-name {
		text-overflow: ellipsis;
		overflow: hidden;
		height: inherit;
		width: 20%;
	}
	
	.play-center .control-items {
		height: inherit;
		text-align: center;
	}
	
	.control-items .control-item {
		display: inline;
		height: 50px;
		line-height: 50px;
		text-align: center;
		vertical-align: middle;
		width: 33%;
	}
	
	.control-item input[type=button] {
		height: 40px;
		width: 40px;
		background-size: 40px;
		background-color: transparent;
		border: none;
		vertical-align: middle;
		text-align: center;
	}